@model IEnumerable<Kutse_App.Models.Holiday>

@{
    ViewBag.Title = "Pühad";
}

<h2>Pühad</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Loo uus", "Create2")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (!User.IsInRole("Admin"))
            {
                <td>
                    <a href="@Url.Action("Ankeet", "Home", new { holidayId = item.Id })" class="btn btn-primary">
                        Registreeri
                    </a>
                </td>
            }
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Muuda", "Edit2", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete2", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
